<div class="post">
  <div class="post-header">
    <h2>Post #<%= @user.posts.index(@post) + 1 %>
      by
      <%= @user.name %></h2>
    <h5>Comments:
      <%= @post.comments_counter %>,&nbsp;Likes:
      <%= @post.likes_counter %></h5>
  </div>
  <h3><%= @post.title %></h3>
  <p><%= @post.text %></p>
</div>

<% if @post.comments_counter > 0 %>
  <div class="comments">
    <% @comments.each do |comment| %>
      <li><%= comment.author.name %>:
      <%= comment.text %></li>
    <% end %>
  </div>
<%end%>

<div class ="like-comment">
<%= link_to new_user_post_comment_url(@user, @post), class: 'btn-link' do %>
  <button>Add comment</button>
<% end %>

<%= button_to "Like Post", user_post_likes_url(user_id: current_user.id, post_id: @post.id),
    method: :post, class: 'btn-link' %>

</div>
